body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
a {
  text-decoration: none;
}
p,
ul,
ol,
h1,
h2,
h3,
h4,
h5,
h6 {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  /* width: 1158px;
  padding: 0 15px; */
  /* top to commit */
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/**-------header------**/

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav {
  display: flex;
  align-items: center;
}

.logo {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 17px 0;
}

.logo-part {
  color: #2e2f42;
}

.header-link {
  /* display: flex;
  gap: 40px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); */
  display: none;
}

.current {
  position: relative;
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  background-color: #404bbf;
  border-radius: 2px;
  height: 4px;
  width: 100%;
}

.nav-link {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  cursor: pointer;
  padding: 24px 0;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

.address {
  font-style: normal;
  margin-left: auto;
  display: none;
}
/* .address-list {
  display: flex;
  gap: 40px;
} */

.address-link {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,
.address-link:focus {
  color: #404bbf;
}

.open-menu-btn {
  padding: 0;
  line-height: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

/**-------mom-menu------**/
.mob-menu {
  position: fixed;
  top: 0;
  background-color: #fff;
  width: 100%;
  height: 100vh;
  padding: 72px 24px 40px 16px;
  display: flex;
  flex-direction: column;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.close-menu-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-link {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.mob-link:hover,
.mob-link:focus {
  color: #404bbf;
}

.mob-link-item:not(:last-child) {
  margin-bottom: 40px;
}

.mob-list {
  margin-top: auto;
}

.mob-address {
  font-style: normal;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.mob-address-list {
  margin-bottom: 48px;
}
.mob-linc-contact:not(:last-child) {
  margin-bottom: 24px;
}
.mob-address-link {
  color: #434455;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-address-link:hover,
.mob-address-link:focus {
  color: #404bbf;
}

.icon-mob-list {
  display: flex;
  gap: 40px;
  /* margin-top: 48px; */
}
.list-mob-icon {
  width: 40px;
  height: 40px;
}
.icon-link-mob {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/**-------mom-menu------**/

/**-------hero------**/

/* .hero {
  background: #2e2f42;
  padding: 72px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/bg-mobile.jpg);
  background-repeat: no-repeat;
  width: 320px;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
} */

.hero {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/mob-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  max-width: 320px;
  padding: 72px 0;
  /* max-width: 1440px; */
  /* padding-top: 188px;
  padding-bottom: 188px; */
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/mob-bg@2x.jpg);
  }
}

.hero-title {
  color: #fff;
  text-align: center;
  /* font-size: 56px; */
  font-size: 36px;
  font-weight: 700;
  /* line-height: 1.07; */
  line-height: 1.11;
  /* letter-spacing: 0.02em; */
  letter-spacing: 0.04em;
  text-transform: capitalize;
  margin: 0 auto;
  max-width: 216px;
  text-align: center;
  /* padding-bottom: 48px; */
  margin-bottom: 72px;
}
.hero-btn {
  color: #fff;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  background-color: #4d5ae5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  margin: 0 auto;
  display: block;
  height: 56px;
  border: none;
  border-radius: 4px;
  min-width: 169px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}

/**-------section2------**/

.features {
  background-color: #ffffff;
  /* padding-top: 120px;
  padding-bottom: 120px; */
  padding-top: 96px;
  padding-bottom: 96px;
}

@media screen and (min-width: 1158px) {
  .features {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

/* .features-list {
  display: flex;
  gap: 24px;
}
.features-item {
  width: calc((100% - 72px) / 4);
} */

@media screen and (max-width: 767px) {
  .features-item:not(:last-child) {
    margin-bottom: 72px;
  }
}

@media screen and (min-width: 768px) {
  .features-list {
    display: flex;
    gap: 72px 24px;
    flex-wrap: wrap;
  }
  .features-item {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .features-list {
    flex-wrap: nowrap;
    gap: 24px;
  }
  .features-item {
    width: calc((100% - 72px) / 4);
  }
}

.icon-svg {
  width: 64px;
  height: 64px;
}

.icon {
  display: none;
}

@media screen and (min-width: 1158px) {
  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: O;
    width: 264px;
    height: 112px;
    border: 1px solid #8e8f99;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
  }
}

.features-subtitle {
  color: #2e2f42;
  /* font-size: 20px; */
  font-size: 36px;
  /* font-weight: 500; */
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

@media screen and (min-width: 768px) {
  .features-subtitle {
    text-align: left;
  }
}

@media screen and (min-width: 1158px) {
  .features-subtitle {
    font-size: 20px;
    font-weight: 500;
  }
}

.features-item-text {
  color: #434455;
  font-size: 16px;
  /* font-weight: 400; */
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 1158px) {
  .features-item-text {
    font-weight: 400;
  }
}

/**-------section3------**/

.team {
  background: #f4f4fd;
  /* padding-top: 120px;
  padding-bottom: 120px; */
  padding-top: 96px;
  padding-bottom: 96px;
}

@media screen and (min-width: 1158px) {
  .team {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.team-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin: 0 auto;
  margin-bottom: 72px;
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    gap: 64px 24px;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1158px) {
  .team-list {
    gap: 24px;
    flex-wrap: nowrap;
  }
}

/* .team-list {
  display: flex;
  gap: 24px;
} */
.team-name {
  padding: 32px 0;
}
.team-item {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  /* width: calc((100% - 72px) / 4); */
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

@media screen and (max-width: 767px) {
  .team-item:not(:last-child) {
    margin-bottom: 72px;
  }
  .team-container {
    max-width: 296px;
  }
}

@media screen and (min-width: 768px) {
  .team-item {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .team-container {
    max-width: 584px;
  }
}

@media screen and (min-width: 1158px) {
  .team-item {
    width: calc((100% - 72px) / 4);
  }
}

.team-subtitle {
  color: #2e2f42;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.team-text {
  color: #434455;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin: 0 auto;
  margin-bottom: 8px;
}
.icon-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
}
.icon-list-team {
  width: 40px;
  height: 40px;
}

.icon-svg-team {
  fill: #f4f4fd;
}
.icon-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-link:hover,
.icon-link:focus {
  background-color: #404bbf;
}

/**-------section4------**/

.portfolio {
  background-color: #ffffff;
  /* padding-top: 120px;
  padding-bottom: 120px; */
  padding-top: 96px;
  padding-bottom: 96px;
}

@media screen and (min-width: 1158px) {
  .portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.portfolio-title {
  color: #2e2f42;
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

/* .portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 24px;
  row-gap: 48px;
} */

@media screen and (max-width: 767px) {
  .portfolio-item:not(:last-child) {
    margin-bottom: 48px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio-list {
    display: flex;
    gap: 72px 24px;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1158px) {
  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 24px;
    row-gap: 48px;
  }
}

.portfolio-name {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-subtitle {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.portfolio-text {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.style-wrap {
  position: relative;
  overflow: hidden;
}
/* .style-text-wrap {
  background: #4d5ae5;
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 40px 32px;
  display: flex;
  align-items: center;
  top: 0;
  color: #f4f4fd;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  cursor: pointer;
} */

.style-text-wrap {
  display: none;
}

@media screen and (min-width: 1158px) {
  .style-text-wrap {
    background: #4d5ae5;
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 40px 32px;
    display: flex;
    align-items: center;
    top: 0;
    color: #f4f4fd;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #f4f4fd;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    cursor: pointer;
  }
}

.portfolio-item:hover .style-text-wrap {
  transform: translateY(0%);
}

.portfolio-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

/**-------footer------**/

.footer {
  background: #2e2f42;
  padding: 96px 0;
  /* margin: 0 auto; */
  /* padding: 100px 0; */
  /* display: flex; */
}

@media screen and (min-width: 1158px) {
  .footer {
    padding: 100px 0;
  }
}

.footer-logo {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;
  margin-bottom: 16px;
}
.logo-footer-part {
  color: #f4f4fd;
}
.footer-text {
  color: #f4f4fd;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 264px;
}

.icon-list-footer {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
}

.icon-footer-list {
  display: flex;
  gap: 16px;
}
.list-footer-icon {
  width: 40px;
  height: 40px;
}
.footer-media-wrap {
  color: #ffffff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  /* margin-right: 80px; */
}

@media screen and (max-width: 767px) {
  .footer-media-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 72px;
  }
}

@media screen and (min-width: 1158px) {
  .footer-media-wrap {
    margin-right: 80px;
  }
}

.icon-link-footer {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .container-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 72px;
  }
}

@media screen and (min-width: 1158px) {
  .container-logo {
    margin-right: 120px;
  }
}

/* .container-logo {
  margin-right: 120px;
} */

.icon-link-footer:hover,
.icon-link-footer:focus {
  background-color: #31d0aa;
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;
    max-width: 584px;
  }
}

@media screen and (min-width: 1158px) {
  .footer-container {
    display: flex;
    align-items: baseline;
  }
}

/* .footer-container {
  display: flex;
  align-items: baseline;
} */

.footer-media {
  color: #ffffff;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.list-footer-icon {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-svg-footer {
  fill: #f4f4fd;
}

.footer-email-text {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .footer-email-text {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .footer-form {
    display: flex;
  }
}

/* .footer-form {
  display: flex;
} */

.footer-input {
  color: #fff;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  /* width: 264px; */
  width: 288px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 8px 16px;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .footer-input {
    width: 264px;
  }
}

.email-icon {
  margin-left: 16px;
}

.footer-label {
  gap: 24px;
}

.footer-button {
  display: flex;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: inline-flex;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  min-width: 165px;
  border-radius: 4px;
  background: #4d5ae5;
  border: none;
  margin-left: 24px;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .footer-button {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 24px;
  }
}

/**-------modal------**/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  position: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  /* width: 408px; */
  width: 288px;
  min-height: 584px;
  background-color: #fcfcfc;
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 11588px) {
  .modal {
    width: 408px;
  }
}

@media screen and (min-width: 768px) {
  .modal {
    width: 408px;
  }
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
}
.modal-close-btn:hover > .modal-close-icon,
.modal-close-btn:focus > .modal-close-icon {
  fill: #ffffff;
}
.close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
}

.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
  color: #2e2f42;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.modal-input {
  width: 100%;
  height: 40px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + .modal-icon {
  border-color: #4d5ae5;
  fill: #4d5ae5;
}

.modal-input:focus {
  border-color: #4d5ae5;
}

.madal-label-list {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.modal-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input-wrap {
  position: relative;
  margin-bottom: 8px;
}

.modal-input-comment {
  margin-bottom: 16px;
}

.modal-text-list {
  width: 100%;
  height: 120px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  outline: transparent;
  padding: 8px 16px;
  resize: none;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text-list {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.modal-text-list:focus {
  border-color: #4d5ae5;
}
.modal-field {
  margin-bottom: 24px;
}
.check-text {
  display: flex;
  align-items: center;
  color: #8e8f99;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.modal-btn {
  flex-shrink: 0;
}

.check-text a {
  color: #4d5ae5;
  text-decoration: underline;
}

.check-icon {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
}

.check-text span.modal-btn {
  width: 16px;
  height: 16px;
  stroke-width: 1px;
  stroke: (46, 47, 66, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  flex-shrink: 0;
  margin-right: 8px;
  border: 1px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check-input {
  border: 1px solid rgba(46, 47, 66, 0.4);
}

.check-input:checked + .check-text span.modal-btn {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
.check-input:focus {
  background-color: #404bbf;
}

.modal-list {
  position: relative;
  margin-bottom: 8px;
}

.modal-button {
  display: block;
  margin: 0 auto;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/** --------media--------- **/

@media screen and (min-width: 768px) {
  .header-link {
    display: flex;
    gap: 40px;
  }
  .open-menu-btn {
    display: none;
  }
  .address {
    display: block;
  }
  .logo {
    margin-right: 120px;
  }
  .address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .address-link {
    color: #434455;
    font-size: 12px;
    line-height: 1.6;
    letter-spacing: 0.02em;
    cursor: pointer;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 1158px) {
  .logo {
    margin-right: 76px;
  }
  .address-list {
    flex-direction: row;
    gap: 40px;
  }
  .address-link {
    font-size: 16px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/tab-bg.jpg);
    padding: 112px 0;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/tab-bg@2x.jpg);
    }
  }
  .hero-title {
    max-width: 496px;
    color: #fff;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    margin-bottom: 36px;
  }
}

@media screen and (min-width: 1158px) {
  .hero {
    max-width: 1440px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/desk-bg.jpg);
    padding: 188px 0;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/desk-bg@2x.jpg);
    }
  }

  .hero-title {
    color: #fff;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    margin-bottom: 48px;
  }
}
